language: node_js
node_js:
  - "8"
  - "node"
cache:
  directories:
    - "node_modules"
before_script:
  - npm run build-dev
script:
  - npm test

deploy:
  provider: script
  script: npm run build-deploy-linux
  skip_cleanup: true
  on:
    node: "8"
    repo: phy25/BITvacation
    branch: master