<script>
window.BITvacationDATA = {
	id: '2018w-lx',
	name: '2018 年寒假（良乡）',
	header_html: '<p>今天是 [today]。<a href="./">中关村的在这里</a>~</p><p>良乡校区寒假期间实行封闭式管理，人员及车辆凭证出入。值班保安员有权对出入行人和车辆查验证件；学生公寓开放，不封楼。</p><p>24 小时值班电话：保安 <a href="tel:010-81383267">81383267</a>/<a href="tel:010-81381100">81381100</a>，物业 <a href="tel:010-81382822">81382822</a>，供暖供热 <a href="tel:010-81382832">81382832</a></p>',
	footer_html: '<h2>参考资料</h2><ol><li><a href="http://mp.weixin.qq.com/s/cgxukMxFaw9O6b1cw25s5Q">最全的北京理工大学2018年寒假运行安排 - 北理i服</a> (01/19)</li><li>收发室、校园邮 e 站现场告示</li></ol><p>如有疑问可邮件联系 <a href="mailto:&#98;&#105;&#116;va&#99;&#97;t&#105;on&#64;&#112;h&#121;&#50;&#53;&#46;&#99;o&#109;">&#98;&#105;&#116;va&#99;&#97;t&#105;on&#64;&#112;h&#121;&#50;&#53;&#46;&#99;o&#109;</a></p>',
	charts: [
		{
			id: 'restaurant',
			type: 'timeline',
			name: '食堂餐饮',
			min: new Date(2018, 0, 1),
			max: new Date(2018, 2, 1),
			items: [
				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 22), title: "正常营业", content:"", group: 3, className:"level-2"},
				{start: new Date(2018, 0, 22), end: new Date(2018, 1, 23), title: "暂停营业", content:"", group: 3, className:"level-0"},
				{start: new Date(2018, 1, 23), end: new Date(2018, 2, 1), title: "正常营业", content:"", group: 3, className:"level-2"},

				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 25), title: "正常营业", content:"", group: 0, className:"level-2"},
				{start: new Date(2018, 0, 25), end: new Date(2018, 1, 22), title: "暂停营业", content:"", group: 0, className:"level-0"},
				{start: new Date(2018, 1, 22), end: new Date(2018, 2, 1), title: "正常营业", content:"", group: 0, className:"level-2"},

				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 23), title: "正常营业", content:"", group: 2, className:"level-2"},
				{start: new Date(2018, 0, 23), end: new Date(2018, 1, 22), title: "暂停营业", content:"", group: 2, className:"level-0"},
				{start: new Date(2018, 1, 22), end: new Date(2018, 2, 1), title: "正常营业", content:"", group: 2, className:"level-2"},

				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 22), title: "正常营业", content:"", group: 1, className:"level-2 tls"},
				{startends: [[new Date(2018, 0, 22), new Date(2018, 1, 16)], [new Date(2018, 1, 19), new Date(2018, 1, 23)]], title: "假期营业", content:"早餐 7:00 - 8:30\n午餐 11:00 - 13:00\n晚餐 16:30 - 17:30\n夜宵暂停", group: 1, className:"level-2"},
				{start: new Date(2018, 1, 16), end: new Date(2018, 1, 19), title: "春节营业（无早餐）", content:"午餐 10:00 - 11:30\n晚餐 16:00 - 17:30\n早餐暂停", group: 1, className:"level-1"},
				{start: new Date(2018, 1, 23), end: new Date(2018, 2, 1), title: "正常营业", content:"", group: 1, className:"level-2"},
			],
			groups: [
				{id: 0, content: "1号南食堂", order: 10},
				{id: 1, content: "2号北食堂", order: 11},
				{id: 2, content: "清真食堂", order: 12},
				{id: 3, content: "食堂夜宵", order: 0},
			]
		},
		{
			id: 'life',
			type: 'timeline',
			name: '生活服务',
			description: '<a href="http://mp.weixin.qq.com/s/OzNA9t4S0iLnLzEWwOqrUw">点击查看校园卡自助设备（挂失、充值）位置</a>',
			min: new Date(2018, 0, 1),
			max: new Date(2018, 2, 1),
			items: [
				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 2, 1)],
				], title: "正常服务", content:"", group: 0, className:"level-2"},

				{startends: [[new Date(2018, 0, 1), new Date(2018, 0, 22)],[new Date(2018, 1, 21),new Date(2018, 2, 1)]], title: "正常营业", content:"", group: 4, className:"level-2"},
				{start: new Date(2018, 0, 22), end: new Date(2018, 1, 21), title: "暂停营业", content:"此期间到的报纸、杂志、邮件暂存邮局，开学后送收发室，邮局电话 89357755转6004，邮政小包、报纸信件电话 18519282944", group: 4, className:"level-0"},

				{startends: [[new Date(2018, 0, 1), new Date(2018, 0, 25)],[new Date(2018, 1, 22),new Date(2018, 2, 1)]], title: "正常营业", content:"", group: 14, className:"level-2"},
				{start: new Date(2018, 0, 25), end: new Date(2018, 0, 27), title: "只提供人工投递", content:"自提柜和寄件业务陆续停止。", group: 14, className:"level-1"},
				{start: new Date(2018, 0, 27), end: new Date(2018, 1, 22), title: "暂停营业", content:"停止一切服务，客服电话 18610337704", group: 14, className:"level-0"},

				{startends: [[new Date(2018, 0, 22), new Date(2018, 0, 24)], [new Date(2018, 1, 22), new Date(2018, 1, 23)]], title: "假期值班", content:"9:00 - 16:00", group: 5, className:"level-2"},
				{startends: [
					[new Date(2018, 0, 24), new Date(2018, 0, 25)],
					[new Date(2018, 0, 26), new Date(2018, 0, 30)],
					[new Date(2018, 0, 31), new Date(2018, 1, 1)],
					[new Date(2018, 1, 2), new Date(2018, 1, 6)],
					[new Date(2018, 1, 7), new Date(2018, 1, 8)],
					[new Date(2018, 1, 9), new Date(2018, 1, 12)],
					[new Date(2018, 1, 13), new Date(2018, 1, 22)],
				], title: "暂停人工服务", content:"请使用校园卡自助设备进行挂失、充值", group: 5, className:"level-0"},
				{startends: [
					[new Date(2018, 0, 25), new Date(2018, 0, 26)],
					[new Date(2018, 0, 30), new Date(2018, 0, 31)],
					[new Date(2018, 1, 1), new Date(2018, 1, 2)],
					[new Date(2018, 1, 6), new Date(2018, 1, 7)],
					[new Date(2018, 1, 8), new Date(2018, 1, 9)],
					[new Date(2018, 1, 12), new Date(2018, 1, 13)],
				], title: "假期值班", content:"9:00 - 12:00", group: 5, className:"level-1"},

				{startends: [[new Date(2018, 0, 1), new Date(2018, 0, 22)], [new Date(2018, 1, 23), new Date(2018, 2, 1)]], title: "学期内时刻表", content:"欢迎您使用非官方班车时刻表微信小程序“理工校车”。", group: 20, className:"level-2"},
				{start: new Date(2018, 0, 22), end: new Date(2018, 1, 23), title: "假期时刻表", content:"中关村与良乡间每天各两班班车往返。\n欢迎您使用非官方班车时刻表微信小程序“理工校车”。", group: 20, className:"level-1"},
				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 2, 1)],
				], title: "正常运行", content:"6:35 - 11:05, 11:35 - 17:30, 18:00 - 22:50", group: 21, className:"level-2"},

				{startends: [[new Date(2018, 0, 1), new Date(2018, 0, 19, 15)], [new Date(2018, 1, 23, 8, 0), new Date(2018, 2, 1)]], title: "正常服务", content:"", group: 25, className:"level-2"},
				{start: new Date(2018, 0, 19, 15), end: new Date(2018, 1, 23, 8, 0), title: "暂停服务", content:"急诊可直接到良乡医院就诊，保留急诊所有材料；门诊需回中关村校区校医院就诊。", group: 25, className:"level-0"},
			],
			groups: [
				{id: 5, content: "校园卡中心", order: 1},
				{id: 0, content: "洗浴服务", order: 12},
				{id: 4, content: "学生服务中心<br>（含收发室）", order: 20},
				{id: 14, content: "邮e站快递", order: 21},
				{id: 20, content: "学校班车", order: 22},
				{id: 21, content: "地铁摆渡车", order: 23},
				{id: 25, content: "医疗服务", order: 25},
			]
		},
		{
			id: 'building',
			type: 'timeline',
			name: '楼宇运行',
			min: new Date(2018, 0, 1),
			max: new Date(2018, 2, 1),
			items: [
				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 25), title: "正常开放", content:"", group: 0, className:"level-2"},
				{start: new Date(2018, 0, 25), end: new Date(2018, 1, 21), title: "暂停开放", content:"", group: 0, className:"level-0"},
				{start: new Date(2018, 1, 21), end: new Date(2018, 2, 1), title: "正常开放", content:"", group: 0, className:"level-2"},

				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 25), title: "正常开放", content:"", group: 1, className:"level-2"},
				{start: new Date(2018, 0, 25), end: new Date(2018, 1, 21), title: "假期开放", content:"只开放丹枫园 C 活动教室和理学楼教室。", group: 1, className:"level-1"},
				{start: new Date(2018, 1, 21), end: new Date(2018, 2, 1), title: "正常开放", content:"", group: 1, className:"level-2"},
				//
				{startends: [[new Date(2018, 0, 1), new Date(2018, 0, 20, 8, 0)],[new Date(2018, 0, 20, 20, 0), new Date(2018, 0, 22)]],start: new Date(2018, 0, 1), end: new Date(2018, 0, 22), title: "正常服务", content:"此日期内到期的图书不会自动续期，请及时归还。", group: 3, className:"level-2"},
				{start: new Date(2018, 0, 20, 8, 0), end: new Date(2018, 0, 20, 20, 0), title: "暂停信息服务", content:"图书检索系统、自助借还系统将无法使用，其他服务照常。", group: 3, className:"level-1"},
				{startends: [[new Date(2018, 0, 22), new Date(2018, 1, 14)],[new Date(2018, 1, 21), new Date(2018, 1, 23)]], title: "假期服务", content:"9:00 - 17:00\n只开放公共阅览区。此期间应还的图书将自动延期至3月15日，请您按时归还。", group: 3, className:"level-1"},
				{start: new Date(2018, 1, 14), end: new Date(2018, 1, 21), title: "暂停开放", content:"此期间应还的图书将自动延期至3月15日，请您按时归还。", group: 3, className:"level-0"},
				{start: new Date(2018, 1, 23), end: new Date(2018, 2, 1), title: "正常服务", content:"", group: 3, className:"level-2 tls"},

				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 0, 25)],
					[new Date(2018, 1, 22), new Date(2018, 2, 1)],
				], title: "正常运行", content:"理科教学楼、综合教学楼、学生服务中心、1号食堂、清真食堂、化学实验中心等", group: 11, className:"level-2"},
				{start: new Date(2018, 0, 25), end: new Date(2018, 1, 22), title: "低温运行", content:"理科教学楼、综合教学楼、学生服务中心、1号食堂、清真食堂、化学实验中心等", group: 11, className:"level-0"},
				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 1, 10)],
					[new Date(2018, 1, 22), new Date(2018, 2, 1)],
				], title: "正常运行", content:"", group: 12, className:"level-2"},
				{start: new Date(2018, 1, 10), end: new Date(2018, 1, 22), title: "低温运行", content:"", group: 12, className:"level-0"},
				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 1, 5)],
					[new Date(2018, 1, 21), new Date(2018, 2, 1)],
				], title: "正常运行", content:"", group: 13, className:"level-2"},
				{start: new Date(2018, 1, 5), end: new Date(2018, 1, 21), title: "低温运行", content:"", group: 13, className:"level-0"},
				{startends: [
					[new Date(2018, 0, 1), new Date(2018, 1, 14)],
					[new Date(2018, 1, 21), new Date(2018, 2, 1)],
				], title: "正常运行", content:"", group: 14, className:"level-2"},
				{start: new Date(2018, 1, 14), end: new Date(2018, 1, 21), title: "低温运行", content:"", group: 14, className:"level-0"},
			],
			groups: [
				{id: 0, content: "理科教学楼<br>综合教学楼", order: 0},
				{id: 1, content: "自习室", order: 1},
				{id: 3, content: "图书馆", order: 3},
				{id: 11, content: "教学商业供暖", order: 13},
				{id: 12, content: "工业生态楼供暖", order: 14},
				{id: 13, content: "结构研究院供暖", order: 15},
				{id: 14, content: "其他科研供暖", order: 16},
			]
		},
		{
			id: 'dept',
			type: 'timeline',
			name: '部门服务',
			min: new Date(2018, 0, 1),
			max: new Date(2018, 2, 1),
			items: [
				{start: new Date(2018, 0, 1), end: new Date(2018, 0, 20), title: "正常服务", content:"行政楼 104 室 8:00 - 20:00，咨询电话 81384704。", group: 8, className:"level-2"},
				{startends: [[new Date(2018, 0, 20), new Date(2018, 1, 15)],[new Date(2018, 1, 22), new Date(2018, 1, 26)]], title: "假期服务", content:"行政楼 104 室 8:00 - 20:00，咨询电话 81384704。可办理京工飞鸿两校区快递业务、公寓门禁授权（寒假期间良乡校区宿舍调配暂停办理，2月26日恢复正常）、公费医疗代办业务（只接单，在开学后统一报销）、学生身份相关证明业务、学生证相关业务（更改乘车区间、更换火车磁条可现场领取，学生证补办需等至开学后方可办理）等。\n出国成绩单将在每周二、周四上午由京工飞鸿代取并派送到良乡。", group: 8, className:"level-2"},
				{start: new Date(2018, 1, 15), end: new Date(2018, 1, 22), title: "暂停服务", content:"", group: 8, className:"level-0 tls"},
				{start: new Date(2018, 1, 26), end: new Date(2018, 2, 1), title: "正常服务", content:"行政楼 104 室 8:00 - 20:00，咨询电话 81384704。", group: 8, className:"level-2"},
				{start: new Date(2018, 0, 1), end: new Date(2018, 2, 1), title: "微信群客服正常值班", content:"9:00 - 23:00 在线答疑", group: 9, className:"level-2"},
			],
			groups: [
				{id: 8, content: "学生事务大厅", order: 0},
				{id: 9, content: "公寓社区", order: 1}
			]
		}
	]
};
</script>